*{
    margin: 2px;
    padding: 1px;
    color: rgb(245, 17, 9);
}

body {
    background-color:rgb(250, 251, 252);
}

header {
    display: block;
    justify-content: space-around;
    
}


nav > ul {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.navbar-brand{
    float:left;
    padding:10px 10px;
   
}

h2 {
    
    text-align: center;
    padding:10px 10px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

a{
    text-decoration:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    display: block;
    margin-block-start: 10em;
    padding-inline-start: 100px;
}

li {
    list-style: none;
    position: right;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

form{
   
    align-content: center;
	height: 20%;
	opacity: 0.8;
    text-align: center;
    
    
}

input {
    text-rendering: auto;
    border-color: black;
    height: 10%;
    border-radius: 5px;
}

.meio {
    text-align: center;
    color: black;
}

.btn {
    color:rgb(143, 122, 96);
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 5px;
    background: rgb(231, 228, 22);
    
}
container {
    height: 10em;
    position: relative;
}


.grid{
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    
}

.containersegunda{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

.brinquedo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

#valor{
    margin-top: 50px;
    display: flex;
    
}

.rodape {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #746f6f; }
    
.rodape span,

.rodape a {
      color: #080808;
}

.rodape a:hover {
      color:#ff0062; 
}
  
.rodape-menu ul {
    text-align: right;
    margin: 0; 
}
  
.rodape-menu li {
    display: inline-block;
    padding-left: 20px; 
}